[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 140
tab_width = 2
trim_trailing_whitespace = true
ij_continuation_indent_size = 4
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides = none
ij_wrap_on_typing = false
ij_any_method_call_chain_wrap = on_every_item
ij_any_array_initializer_new_line_after_left_brace = true
ij_any_array_initializer_right_brace_on_new_line = true
ij_any_array_initializer_wrap = on_every_item
ij_any_align_multiline_array_initializer_expression = true
ij_any_block_comment_add_space = true
ij_any_line_comment_add_space = true
ij_any_space_after_comma = true

[*.json]
ij_json_keep_trailing_comma = false
ij_json_space_after_comma = true

[*.php]
ij_php_method_call_chain_wrap = split_into_lines
ij_php_align_multiline_chained_methods = true
ij_php_line_comment_add_space = true
ij_php_spaces_around_pipe_in_union_type = true
ij_php_comma_after_last_argument = false
ij_php_comma_after_last_array_element = false
ij_php_comma_after_last_closure_use_var = false
ij_php_comma_after_last_match_arm = false
ij_php_comma_after_last_parameter = false
ij_php_continuation_indent_size = 2
ij_php_indent_size = 2
ij_php_indent_break_from_case = true
ij_php_indent_case_from_switch = true

ij_php_phpdoc_blank_line_before_tags = true
ij_php_phpdoc_blank_lines_around_parameters = true
ij_php_phpdoc_keep_blank_lines = true
ij_php_phpdoc_param_spaces_between_name_and_description = 1
ij_php_phpdoc_param_spaces_between_tag_and_type = 1
ij_php_phpdoc_param_spaces_between_type_and_name = 1
ij_php_phpdoc_use_fqcn = false
ij_php_phpdoc_wrap_long_lines = true
ij_php_sort_phpdoc_elements = true

ij_php_array_initializer_new_line_after_left_brace = true
ij_php_array_initializer_right_brace_on_new_line = true
ij_php_array_initializer_wrap = on_every_item

ij_php_blank_lines_after_class_header = 0
ij_php_blank_lines_after_function = 1
ij_php_blank_lines_after_imports = 1
ij_php_blank_lines_after_opening_tag = 0
ij_php_blank_lines_after_package = 1
ij_php_blank_lines_around_class = 1
ij_php_blank_lines_around_constants = 0
ij_php_blank_lines_around_enum_cases = 0
ij_php_blank_lines_around_field = 1
ij_php_blank_lines_around_method = 1
ij_php_blank_lines_before_class_end = 0
ij_php_blank_lines_before_imports = 1
ij_php_blank_lines_before_method_body = 0
ij_php_blank_lines_before_package = 1
ij_php_blank_lines_before_return_statement = 1
ij_php_blank_lines_between_imports = 0

ij_php_keep_blank_lines_after_lbrace = 1
ij_php_keep_blank_lines_before_right_brace = 1
ij_php_keep_blank_lines_in_code = 1
ij_php_keep_blank_lines_in_declarations = 1

ij_php_while_on_new_line = true
ij_php_catch_on_new_line = true
ij_php_else_on_new_line = true
ij_php_finally_on_new_line = true

ij_php_force_empty_methods_in_one_line = true
ij_php_force_short_declaration_array_style = true
ij_php_else_if_style = combine
ij_php_getters_setters_naming_style = camel_case
ij_php_getters_setters_order_style = getters_first
ij_php_group_use_wrap = on_every_item
ij_php_import_sorting = alphabetic

[*.js]
ij_javascript_enforce_trailing_comma = remove
ij_javascript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_imports = true

[*.yaml]
ij_yaml_align_values_properties = on_value
ij_yaml_indent_size = 2
ij_yaml_autoinsert_sequence_marker = true